@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  color: #242424;
}

body,
html {
  scroll-behavior: smooth;
}

body {
  background-color: #b3e8ff;
  width: 100%;
}

.container {
  background-image: url(../assets/background-dimmed.png);
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: 90%;
  background-attachment: fixed;
}

@media screen and (min-width: 768px) {
  .container {
    background-image: url(../assets/background.png);
    background-size: cover;
  }
}

header {
  width: 100%;
  height: 60vh;
  display: -ms-grid;
  display: grid;
  grid-template: "text" 8fr "img" 4fr;
}

@media screen and (min-width: 768px) {
  header {
    height: 100vh;
  }
}

header .main-text {
  grid-area: text;
  padding: 20% 10% 0 10%;
  background-color: white;
}

@media screen and (min-width: 768px) {
  header .main-text {
    padding: 10% 10% 0 10%;
  }
}

header .main-text input {
  display: none;
}

header .main-text #en:checked ~ .en-label {
  color: #001eff;
}

header .main-text #de:checked ~ .de-label {
  color: #9acd32;
}

header .main-text #ch:checked ~ .ch-label {
  color: #d87093;
}

header .main-text #en:checked ~ .english,
header .main-text #de:checked ~ .german,
header .main-text #ch:checked ~ .chinese {
  display: block;
}

header .main-text .en-label {
  font-size: 2rem;
  cursor: pointer;
  display: inline-block;
}

header .main-text .en-label:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

@media screen and (min-width: 768px) {
  header .main-text .en-label {
    font-size: 4rem;
  }
}

header .main-text .en-label:hover {
  color: #001eff;
}

header .main-text .de-label {
  font-size: 2rem;
  cursor: pointer;
  display: inline-block;
}

header .main-text .de-label:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

@media screen and (min-width: 768px) {
  header .main-text .de-label {
    font-size: 4rem;
  }
}

header .main-text .de-label:hover {
  color: #9acd32;
}

header .main-text .ch-label {
  font-size: 2rem;
  cursor: pointer;
  display: inline-block;
}

header .main-text .ch-label:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

@media screen and (min-width: 768px) {
  header .main-text .ch-label {
    font-size: 4rem;
  }
}

header .main-text .ch-label:hover {
  color: #d87093;
}

header .main-text .english {
  margin-top: 1em;
  display: none;
  text-align: right;
  font-size: 1rem;
}

header .main-text .english img {
  width: 1rem;
  display: none;
}

@media screen and (min-width: 768px) {
  header .main-text .english {
    font-size: 2rem;
  }
  header .main-text .english img {
    width: 2rem;
  }
}

header .main-text .english .twitter {
  color: #001eff;
  text-decoration: none;
}

header .main-text .english .twitter:hover {
  color: #00A9F4;
}

header .main-text .english .twitter:hover + img {
  display: inline-block;
}

header .main-text .english .github {
  color: #001eff;
  text-decoration: none;
}

header .main-text .english .github:hover {
  color: #6e5494;
}

header .main-text .english .github:hover + img {
  display: inline-block;
}

header .main-text .english .name {
  font-size: 2rem;
  text-decoration: none;
  color: #001eff;
  display: inline-block;
  position: relative;
}

header .main-text .english .name::after {
  content: '';
  position: absolute;
  bottom: 2%;
  left: 0;
  width: 100%;
  height: 5%;
  background-color: #001eff;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

header .main-text .english .name:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

@media screen and (min-width: 768px) {
  header .main-text .english .name {
    font-size: 4rem;
  }
}

header .main-text .german {
  margin-top: 1em;
  display: none;
  text-align: right;
  font-size: 1rem;
}

header .main-text .german img {
  width: 1rem;
  display: none;
}

@media screen and (min-width: 768px) {
  header .main-text .german {
    font-size: 2rem;
  }
  header .main-text .german img {
    width: 2rem;
  }
}

header .main-text .german .twitter {
  color: #9acd32;
  text-decoration: none;
}

header .main-text .german .twitter:hover {
  color: #00A9F4;
}

header .main-text .german .twitter:hover + img {
  display: inline-block;
}

header .main-text .german .github {
  color: #9acd32;
  text-decoration: none;
}

header .main-text .german .github:hover {
  color: #6e5494;
}

header .main-text .german .github:hover + img {
  display: inline-block;
}

header .main-text .german .name {
  font-size: 2rem;
  text-decoration: none;
  color: #9acd32;
  display: inline-block;
  position: relative;
}

header .main-text .german .name::after {
  content: '';
  position: absolute;
  bottom: 2%;
  left: 0;
  width: 100%;
  height: 5%;
  background-color: #9acd32;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

header .main-text .german .name:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

@media screen and (min-width: 768px) {
  header .main-text .german .name {
    font-size: 4rem;
  }
}

header .main-text .chinese {
  margin-top: 1em;
  display: none;
  text-align: right;
  font-size: 1rem;
  letter-spacing: 0.2em;
}

header .main-text .chinese img {
  width: 1rem;
  display: none;
}

@media screen and (min-width: 768px) {
  header .main-text .chinese {
    font-size: 2rem;
  }
  header .main-text .chinese img {
    width: 2rem;
  }
}

header .main-text .chinese .twitter {
  color: #d87093;
  text-decoration: none;
}

header .main-text .chinese .twitter:hover {
  color: #00A9F4;
}

header .main-text .chinese .twitter:hover + img {
  display: inline-block;
}

header .main-text .chinese .github {
  color: #d87093;
  text-decoration: none;
}

header .main-text .chinese .github:hover {
  color: #6e5494;
}

header .main-text .chinese .github:hover + img {
  display: inline-block;
}

header .main-text .chinese .name {
  font-size: 2rem;
  text-decoration: none;
  color: #d87093;
  display: inline-block;
  position: relative;
}

header .main-text .chinese .name::after {
  content: '';
  position: absolute;
  bottom: 2%;
  left: 0;
  width: 100%;
  height: 5%;
  background-color: #d87093;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

header .main-text .chinese .name:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

@media screen and (min-width: 768px) {
  header .main-text .chinese .name {
    font-size: 4rem;
  }
}

header img {
  grid-area: img;
  width: 100%;
}

#webEn {
  text-decoration: none;
  color: #001eff;
  display: inline-block;
  position: relative;
}

#webEn::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #001eff;
  opacity: 0.2;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

#webEn:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

#webDe {
  text-decoration: none;
  color: #9acd32;
  display: inline-block;
  position: relative;
}

#webDe::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #9acd32;
  opacity: 0.2;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

#webDe:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

#webCh {
  text-decoration: none;
  color: #d87093;
  display: inline-block;
  position: relative;
}

#webCh::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d87093;
  opacity: 0.2;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

#webCh:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

main {
  width: 100%;
  padding: 0 1em;
}

main p:not(p:first-of-type) {
  margin: 1em 0;
}

main p {
  color: black;
}

main p a {
  text-decoration: none;
  color: blue;
}

main p a:hover {
  text-decoration: underline;
}

main h2 {
  text-shadow: 1px 1px 1px rgba(36, 36, 36, 0.6);
}

main h3, main div {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
}

main .countdown-container #countdown ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
}

main .countdown-container #countdown ul li {
  padding: 1em;
}

@media screen and (max-width: 768px) {
  main .countdown-container #countdown ul li {
    padding: 0.5em;
  }
}

main .countdown-container #countdown ul li span {
  display: block;
  font-size: 4.5em;
}

@media screen and (max-width: 768px) {
  main .countdown-container #countdown ul li span {
    font-size: 2em;
  }
}

main .countdown-container #content {
  display: none;
  font-size: 4.5em;
}

@media screen and (max-width: 768px) {
  main .countdown-container #content {
    font-size: 3em;
  }
}

@media screen and (min-width: 768px) {
  main {
    padding: 0 3em;
  }
  main h2 {
    font-size: 4rem;
  }
  main p {
    font-size: 2rem;
    width: 68%;
  }
  main h3 {
    font-size: 3rem;
  }
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section img {
  width: 100%;
}

section h2 {
  width: 100%;
  color: white;
  text-align: center;
  background-color: #000A2B;
}

@media screen and (min-width: 768px) {
  section h2 {
    font-size: 4rem;
  }
}

section .slide-container {
  width: 100%;
  background-color: #000A2B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1em;
  position: relative;
}

section .slide-container .slideshow {
  width: 288px;
  height: 164.2px;
  overflow: hidden;
}

@media screen and (min-width: 480px) {
  section .slide-container .slideshow {
    width: 432px;
    height: 246.3px;
  }
}

@media screen and (min-width: 768px) {
  section .slide-container .slideshow {
    width: 576px;
    height: 328.4px;
  }
}

@media screen and (min-width: 1024px) {
  section .slide-container .slideshow {
    width: 864px;
    height: 492.6px;
  }
}

section .slide-container .slideshow .slides {
  width: 300%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .slide-container .slideshow .slides input[name=projects] {
  display: none;
}

section .slide-container .slideshow .slides .slide {
  width: 33.33%;
  -webkit-transition: 600ms;
  transition: 600ms;
}

section .slide-container .slideshow .slides .slide img {
  width: 100%;
  height: 100%;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

section .slide-container .slideshow .slides .slide img:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

section .slide-container .slide-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: -1.3rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (min-width: 768px) {
  section .slide-container .slide-navigation {
    bottom: -2rem;
  }
}

@media screen and (min-width: 1024px) {
  section .slide-container .slide-navigation {
    bottom: -3rem;
  }
}

section .slide-container .slide-navigation .bar {
  width: 4.8rem;
  height: 0.8rem;
  color: white;
  font-size: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px solid white;
  margin: 0.5em;
  cursor: pointer;
  -webkit-transition: 400ms;
  transition: 400ms;
}

@media screen and (min-width: 768px) {
  section .slide-container .slide-navigation .bar {
    width: 10rem;
    height: 1rem;
    margin: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  section .slide-container .slide-navigation .bar {
    width: 15rem;
    height: 1rem;
    margin: 1.5rem;
  }
}

section .slide-container .slide-navigation .bar:hover {
  background: white;
  color: #000A2B;
  -webkit-box-shadow: 0 0 5px #ffffff;
          box-shadow: 0 0 5px #ffffff;
}

#pro-1:checked ~ .slide-1 {
  margin-left: 0;
}

#pro-2:checked ~ .slide-2 {
  margin-left: -33.33%;
}

#pro-3:checked ~ .slide-3 {
  margin-left: -66.66%;
}

footer {
  background-color: #000A2B;
  width: 100%;
  padding: 5em 0 3em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .social-container img {
  width: 3rem;
  margin: 0.4em;
  cursor: pointer;
  opacity: 0.8;
}

footer .social-container .twitter-btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 1;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px #67bdff;
          box-shadow: 0 0 10px #67bdff;
}

footer .social-container .github-btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 1;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px #8062ac;
          box-shadow: 0 0 10px #8062ac;
}

footer .social-container .linkedin-btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 1;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px #039de9;
          box-shadow: 0 0 10px #039de9;
}

footer .social-container .email-btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 1;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px #ffcd19;
          box-shadow: 0 0 10px #ffcd19;
}

footer .social-container .up-btn {
  border-radius: 50%;
  border: 1px solid white;
}

footer .social-container .up-btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 1;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px white;
          box-shadow: 0 0 10px white;
}

footer p {
  color: rgba(255, 255, 255, 0.8);
  margin-top: 1em;
}
/*# sourceMappingURL=style.css.map */